.back-to-top {
    padding: 2rem 0 4rem 0;

}

.back-to-top a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #303030;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 10);
}

.back-to-top a:hover {
    box-shadow: 0 0 5px 2px #39FF14;
}

.back-to-top a .bold {
    font-weight: 600;
}